:root {
  color-scheme: light dark;

  font-family: sans-serif;

  --gap0: 0.5ex;
  --gap1: 1ex;
  --gap2: 2ex;
  --gap3: 3ex;
  --gap4: 4ex;

  --m: 6ex;
  --mm: calc(2 * var(--m));

  --br: 1ex;

  --fs: 1.9ex;

  --background-image: url("./ben-wyvis-3840.webp");

  --highlight: #7dd3fc80;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable";
    font-optical-sizing: auto;
    font-feature-settings: "calt", "dlig", "zero", "ccmp";
  }

  /* Inter v4.0 */
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable-Italic.woff2") format("woff2");
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-colour: white;
    --colour: black;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #1c1b22;
    --colour: #fbfbfe;
  }
}

@media (width <= 960px) {
  .top {
    height: var(--mm);
    background-image: var(--background-image);
    background-size: cover;
    background-position-y: 33%;
  }

  .bottom {
    height: var(--mm);
    background-image: var(--background-image);
    background-size: cover;
    background-position-y: bottom;
  }
}

@media (width > 960px) {
  .card {
    margin: var(--mm) auto;
    max-width: calc(960px - 2 * var(--m));
    border-radius: var(--br);
  }

  body {
    background-image: var(--background-image);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  }
}

body {
  font-size: var(--fs);
  margin: 0;
  background-color: var(--background-colour);
  color: var(--colour);
}

.card {
  padding: var(--m);
  background-color: var(--background-colour);
}

footer {
  margin-top: var(--m);
}

ul {
  margin: 0;
}

.g0 {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: var(--gap0);
  column-gap: var(--gap2);
}

dd {
  margin: 0;
}

p {
  margin: 0;
}

h1 {
  font-weight: 700; /* bold */
  font-size: calc(2.1 * var(--fs));
  font-size: 4ex;
  margin: 0;
}

h2 {
  font-weight: 700; /* bold */
  font-size: calc(1.58 * var(--fs));
  font-size: 3ex;
  margin: 0;
}

h3 {
  font-weight: 700; /* bold */
  font-size: calc(1.15 * var(--fs));
  margin: 0;
}

.h4 {
  font-weight: 700; /* bold */
  font-size: calc(1.05 * var(--fs));
  margin: 0;
}

h5 {
  font-weight: 700; /* bold */
  font-size: var(--fs);
  margin: 0;
}

.ind {
  padding-left: var(--gap2);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col0 {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap0);
}

.col1 {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap1);
}

.col2 {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap2);
}

.col3 {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap3);
}

.col4 {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap4);
}

.mt0 {
  margin-top: var(--gap0);
}

.book {
  font-style: italic;
}

.title {
  font-weight: 600;
}

.maths {
  text-wrap: nowrap;
}

.location {
  font-style: italic;
}

.abs {
  margin: auto;
  width: 80%;
}

.dbl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--gap0);
}

.skip {
  grid-column: 2;
}

.span {
  grid-column: 1 / 3;
}

.photo {
  width: auto;
  height: 8em;
  border-radius: var(--br);
}

.header {
  display: grid;
  gap: var(--gap3);
  grid-template-columns: auto min-content;
}

.merge-v {
  grid-row: 1 / 3;
  grid-column: 2;
}

.anchor {
  text-decoration: inherit;
  color: inherit;
}

@keyframes highlight {
  0% {
    background: var(--highlight);
    box-shadow: 0 0 1ex 1ex var(--highlight);
  }
  100% {
    background: none;
    box-shadow: none;
  }
}

:target {
  border-radius: var(--br);
  animation: highlight 2s;
}

.flagged {
  display: flex;
  gap: 1em;
  align-items: center;
}

.iflag {
  display: inline-flex;
  gap: 6px;
  align-items: center;
}

.flag {
  border-radius: 3px;
}
