{% macro courses_cam(all_courses) %}
  <details>
    <summary class="h4">Courses</summary>
    <div class="ind mt0 col0">
      <h5>Examined in</h5>
      {{ courses_list(all_courses, "defined") }}

      <h5>Attended</h5>
      {{ courses_list(all_courses, "undefined") }}
    </div>
  </details>
{% endmacro %}

{% macro courses_list(courses, grade) %}
  <ul class="col0">
    {% for course in courses | selectattr("institution", "equalto", "University of Cambridge") | selectattr("grade", grade) | sort(attribute="title") %}
      <li id="{{ course.title }}">{{ course.title }}</li>
    {% endfor %}
  </ul>
{% endmacro %}
