{% macro courses_sta(all_courses) %}
  <details>
    <summary class="h4">Courses</summary>

    <dl class="ind mt0 g0">
      {% for year, courses in all_courses | selectattr("institution", "equalto", "University of St Andrews") | groupby("year") | reverse %}
        <dt>{{ year }}</dt>
        <dd class="g0">
          {% for course in courses | sort(attribute="code") %}
            <a
              href="https://portal.st-andrews.ac.uk/catalogue/View?code={{ course.code }}&academic_year={{ course.year }}"
              >{{ course.code }}</a
            >
            <span id="{{ course.code }}">{{ course.title }}</span>
          {% endfor %}
        </dd>
      {% endfor %}
    </dl>
  </details>
{% endmacro %}
