{% from "courses_cam.html.jinja" import courses_cam %}
{% from "courses_sta.html.jinja" import courses_sta %}
{% from "flag.html.jinja" import flag %}
{% from "papers.html.jinja" import papers_from %}
{% from "pres.html.jinja" import talks_from, posters_from %}
{% from "prizes.html.jinja" import prizes_from %}
{% from "summer.html.jinja" import summer_projects %}

<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=yes"
    />
    <link rel="icon" href="favicon.ico" />
    <title>Ryan Moodie</title>
    <meta name="author" content="Ryan Moodie" />
    <meta name="description" content="My personal webpage" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
  </head>

  <body>
    <div class="top"></div>
    <div class="card col4">
      <header class="header">
        <h1>Ryan Moodie</h1>
        <img
          src="ryan.jpg"
          width="176"
          height="225"
          class="photo merge-v"
          alt="avatar"
        />
        <div class="ind col1">
          <p>Hello. Welcome to my online CV.</p>
          <p>You can contact me at ryanmoodie at gmail dot com.</p>
        </div>
      </header>

      <main class="ind col3">
        <section class="col2">
          <h2><a href="#industry" id="industry" class="anchor">Industry</a></h2>

          <div class="ind">
            <section class="col1">
              <div class="row">
                <h3>
                  <a href="#3s-northumbria-cso" id="3s-northumbria" class="anchor"
                    >Chief scientific officer</a
                  >
                </h3>
                <span> <time datetime="2025-02-01">2025</time>&ndash; </span>
              </div>

              <div class="row">
                <h3>
                  <a href="#3s-northumbria-ssee" id="3s-northumbria" class="anchor"
                    >Senior space environment engineer</a
                  >
                </h3>
                <span> <time datetime="2024-11-19">2024</time>&ndash;<time datetime="2025-01-31">2025</time> </span>
              </div>

              <div class="flagged">
                <div class="location">3S Northumbria, Alnwick󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-eng") }}
              </div>
            </section>
          </div>
        </section>

        <section class="col2">
          <h2><a href="#academia" id="academia" class="anchor">Academia</a></h2>

          <div class="ind col2">
            <p>
              I helped develop and use novel computational techniques from pure
              maths and machine learning to improve theoretical predictions for
              particle physics experiments like the Large Hadron Collider at
              CERN.
            </p>

            <details>
              <summary class="h4">Topics</summary>
              <ul class="col0 mt0">
                <li>Two-loop many-scale QCD and QED amplitude computations</li>
                <li>Rational reconstruction over finite fields</li>
                <li>Precision LHC phenomenology</li>
                <li>Neural networks for emulating amplitudes</li>
                <li>
                  Solving Feynman integrals with physics-informed deep learning
                </li>
              </ul>
            </details>

            <section class="col1">
              <div class="row">
                <h3>
                  <a href="#postdoc-turin" id="postdoc-turin" class="anchor"
                    >Postdoctoral researcher</a
                  >
                </h3>
                <span>
                  <time datetime="2022-05-01">2022</time>&ndash;<time
                    datetime="2023-10-31"
                    >2023</time
                  >
                </span>
              </div>

              <div class="flagged">
                <div class="location">
		  Dipartimento di Fisica, <abbr title="Università degli Studi di Torino | University of Turin">UNITO</abbr> and <abbr title="Istituto Nazionale di Fisica Nucleare | National Institute for Nuclear Physics">INFN</abbr>
                </div>
                {{ flag("it") }}
              </div>


              <div class="ind col0">
                {{ papers_from(pubs, "University of Turin") }}
                {{ talks_from(pres, "University of Turin") }}
              </div>
            </section>

            <section class="col1">
              <div class="row">
                <h3>
                  <a href="#phd-durham" id="phd-durham" class="anchor"
                    >PhD student</a
                  >
                </h3>
                <span>
                  <time datetime="2018-10-01">2018</time>&ndash;<time
                    datetime="2022-04-30"
                    >2022</time
                  >
                </span>
              </div>

              <div class="flagged">
                <div class="location"><abbr title="Institute of Particle Physics Phenomenology">IPPP</abbr>, Durham University󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-eng") }}
              </div>

              <div class="ind col0">
                {{ papers_from(pubs, "Durham University") }}
                {{ talks_from(pres, "Durham University") }}

                <details>
                  <summary class="h4">Teaching</summary>
                  <ul class="col0 mt0">
                    <li>
                      Associate Fellow of the Higher Education Academy (<a
                        href="https://www.advance-he.ac.uk/fellowship/associate-fellowship"
                        >AFHEA</a
                      >)
                    </li>
                    <li>
                      Durham Excellence in Learning and Teaching Award Level 1
                    </li>
                    <li>
                      2020−21: workshop demonstrator for
                      <a
                        href="https://apps.dur.ac.uk/faculty.handbook/2020/UG/module/PHYS4181"
                        >PHYS4181</a
                      >
                      level 4 particle theory
                    </li>
                    <li>
                      2018−20, 21−22: workshop demonstrator for
                      <a
                        href="https://apps.dur.ac.uk/faculty.handbook/2018/UG/module/PHYS3621"
                        >PHYS3621</a
                      >
                      level 3 quantum, nuclear, and particle physics
                    </li>
                  </ul>
                </details>

                <details>
                  <summary class="h4">Outreach</summary>
                  <ul class="col0 mt0">
                    <li>
                      Celebrate Science Festivals (<a
                        href="https://www.dur.ac.uk/celebrate.science/"
                        >link</a
                      >)
                    </li>
                    <li>
                      Schools' Science Festivals (<a
                        href="https://www.durham.ac.uk/departments/academic/science/science-engagement/working-with-schools/durham-schools-science-festival/"
                        >link</a
                      >)
                    </li>
                    <li>Schools' Physicist of the Year</li>
                    <li>
                      International Particle Physics Masterclass (<a
                        href="https://conference.ippp.dur.ac.uk/event/880/timetable/"
                        >link</a
                      >)
                    </li>
                    <li>Open days</li>
                    <li>
                      Maintained the
                      <a href="https://github.com/eidoom/GaltonBoard"
                        >software</a
                      >
                      for our
                      <a href="https://www.modellinginvisible.org/exhibits/"
                        >outreach exhibits</a
                      >
                    </li>
                  </ul>
                </details>

                <details>
                  <summary class="h4">Responsibilities</summary>
                  <ul class="col0 mt0">
                    <li>
                      Member of the IPPP's equity, diversity and inclusion (EDI)
                      <a
                        href="https://www.ippp.dur.ac.uk/equity-diversity-and-inclusivity"
                        >group</a
                      >. We held seminars, promoted EDI, and strived to identify
                      and address issues related to EDI within the IPPP.
                    </li>
                    <li>
                      On the YTF conference committee 2019–21, a conference run
                      by and for early career researchers in particle theory.
                    </li>
                    <li>
                      Ran the
                      <a
                        href="https://computing-club.notes.dmaitre.phyip3.dur.ac.uk"
                        >Physics Computing Club</a
                      >, organising weekly departmental training sessions and
                      seminars.
                    </li>
                    <li>
                      IPPP PhD student representative on Department of Physics
                      Student-Staff Council.
                    </li>
                    <li>
                      Involved in running the rackets, ultimate frisbee and Tang
                      Soo Do sports clubs at Ustinov College.
                    </li>
                  </ul>
                </details>
              </div>
            </section>
          </div>
        </section>

        <section class="col2">
          <h2>
            <a href="#education" id="education" class="anchor">Education</a>
          </h2>

          <div class="ind col2">
            <p>
              I studied physics broadly, sitting additional courses beyond the
              theoretical curriculum and undertaking funded summer research
              projects that we published. I then took a Masters to specialise in
              particle physics.
            </p>

            <section class="col1">
              <div class="row">
                <h3>
                  <a href="#mast-cam" id="mast-cam" class="anchor"
                    >MASt in Applied Mathematics (Part III  of the Mathematical Tripos)</a
                  >
                </h3>
                <span>2017&ndash;2018</span>
              </div>

              <div class="flagged">
                <div class="location"><abbr title="Department of Applied Mathematics and Theoretical Physics">DAMTP</abbr> and Fitzwilliam College, University of Cambridge󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-eng") }}
              </div>

              <div class="ind col0">
                {{ courses_cam(courses) }}
                {{ talks_from(pres, "University of Cambridge") }}
              </div>
            </section>

            <section class="col1">
              <div class="row">
                <h3>
                  <a href="#mphys-sta" id="mphys-sta" class="anchor"
                    >MPhys (Hons) in Theoretical Physics</a
                  >
                </h3>
                <span>2013&ndash;2017</span>
              </div>

              <div class="flagged">
                <div class="location">School of Physics and Astronomy, University of St Andrews󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-sct") }}
              </div>

              <div class="ind col0">
                <details>
                  <summary class="h4">Dissertation</summary>
                  <div id="dissertation" class="ind mt0">
                    <div class="title">
                      Simulating continuous symmetry breaking with cold atoms in
                      optical cavities
                    </div>
                    <div>
                      <span>Supervisor: Jonathan Keeling.</span>
                      <span>
                        <a
                          href="https://bitbucket.org/ryanmoodie/two-mode-cavity-dicke-model-report/raw/7c3632e95e86556d568a92af1ef42c09ba14f08f/report.pdf"
                          >dissertation</a
                        >.
                      </span>
                      <span> <a href="#tcsb17">talk</a>. </span>
                      <span> <a href="#pcsb17">poster</a>. </span>
                      <span>
                        <a
                          href="https://bitbucket.org/ryanmoodie/two-mode-dicke-model-original"
                          >code</a
                        >.
                      </span>
                    </div>
                    <div class="ind mt0">
                      The Dicke model, describing a system of two-level atoms
                      interacting with a single cavity mode, exhibits an
                      intriguing phase transition to the superradiant state
                      associated with discrete symmetry breaking. Recent
                      experiments on atomic Bose-Einstein condensates in optical
                      cavities have realised the transition using driven and
                      dissipative effects, allowing exploration of collective
                      behaviour in open quantum systems. We investigate an
                      extension to the nonequilibrium Dicke model of the
                      experimental realisation allowing two cavity modes,
                      mapping out the phase diagram of this new model in
                      mean-field theory. This two-mode-cavity Dicke model
                      exhibits continuous symmetry breaking.
                    </div>
                  </div>
                </details>

                {{ courses_sta(courses) }}
                {{ prizes_from(prizes, "University of St Andrews") }}
                {{ summer_projects(sps) }}
                {{ papers_from(pubs, "University of St Andrews") }}
                {{ talks_from(pres, "University of St Andrews") }}
                {{ posters_from(pres, "University of St Andrews") }}

                <details>
                  <summary class="h4">Outreach</summary>
                  <ul class="col0 mt0">
                    <li>Science Discovery Days</li>
                    <li>Workshops at local schools</li>
                    <li>Open days</li>
                  </ul>
                </details>

                <details>
                  <summary class="h4">Responsibilities</summary>
                  <ul class="col0 mt0">
                    <li>
                      Theoretical Physics Masters representative on School of
                      Physics and Astronomy Student-Staff Council 2016/17
                    </li>
                    <li>
                      School of Physics and Astronomy Ambassador 2014–2017
                    </li>
                  </ul>
                </details>
              </div>
            </section>

            <section class="col1">
              <div class="row">
                <h3>Diploma in pianoforte solo performance</h3>
                <span>2012&ndash;2013</span>
              </div>

              <div class="flagged">
                <div class="location"><abbr title="London College of Music">LCM</abbr>, University of West London󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-eng") }}
              </div>
            </section>

            <section class="col1">
              <div class="row">
                <h3>School</h3>
                <span>2007&ndash;2013</span>
              </div>

              <div class="flagged">
                <div class="location">Invergordon Academy󠁧󠁢󠁥󠁮󠁧󠁿</div>
                {{ flag("gb-sct") }}
              </div>

              <details class="ind">
                <summary class="h4">Achievements</summary>
                <ul class="col0 mt0">
                  <li>Invergordon Academy Endeavour Trophy</li>
                  <li>Gold Duke of Edinburgh's Award</li>
                  <li>Harvard Book Award</li>
                  <li>
                    Open University Short Science Modules
                    <ul>
                      <li>
                        <a
                          href="https://www.open.ac.uk/library/digital-archive/module/xcri:ST174/study"
                          >ST174</a
                        >
                        Galaxies, star and planets
                      </li>
                      <li>
                        <a
                          href="https://www.open.ac.uk/library/digital-archive/module/xcri:S177/study"
                          >S177</a
                        >
                        Inside nuclear energy
                      </li>
                    </ul>
                  </li>
                  <li>Saltire 50 hours Ascent Award for volunteering</li>
                  <li>
                    Sports Leaders UK Level 2 Award in Community Sports
                    Leadership
                  </li>
                  <li>
                    Regional athletics medals including:
                    <ul>
                      <li>
                        North District Championships cross-country gold U20 2012
                      </li>
                      <li>
                        North District League cross-country champion U17 2010/11
                      </li>
                    </ul>
                  </li>
                </ul>
              </details>
            </section>
          </div>
        </section>

        <section class="col2">
          <h2><a href="#hobbies" id="hobbies" class="anchor">Hobbies</a></h2>

          <ul>
            <li>reading books</li>
            <li>
              outdoor pursuits: running, hiking, cycling, swimming, boating and
              motorbiking
            </li>
            <li>
              sports, including bouldering, calisthenics, martial arts and
              ultimate frisbee
            </li>
            <li>
              listening to, composing and playing music; piano and violin are my
              main instruments
            </li>
            <li>playing tabletop and computer games</li>
            <li>watching films and cinematic TV series</li>
            <li>designing and making things, from buildings to software</li>
          </ul>

          <section class="col1 ind">
            <h3>Weekend coding projects</h3>

            <p class="ind">
              You can find a portfolio of my coding projects for curiosity,
              recreation and personal use
              <a href="https://eidoom.gitlab.io/projects/">here</a>.
            </p>
          </section>

          <section class="col1 ind">
            <h3>Computing blog</h3>

            <p class="ind">
              I keep a journal detailing various computer systems I've set up
              for personal use
              <a href="https://eidoom.gitlab.io/computing-blog/">here</a>.
            </p>
          </section>
        </section>
      </main>

      <footer class="row">
        <span>
          Last updated on
          <time datetime="{{ today }}">{{ today | fdate }}</time>
        </span>
        <span>
          <a href="https://gitlab.com/eidoom/eidoom.gitlab.io">Source</a>
        </span>
      </footer>
    </div>
    <div class="bottom"></div>
  </body>
</html>
