{% macro papers_from(pubs, institution) %}
  {% set items = pubs | selectattr("institution", "equalto", institution) %}
  {% if items %}
    <details>
      <summary class="h4">Publications</summary>

      <ul class="col1 mt0">
        {% for pub in items | sort(reverse=True, attribute="year,month,day") %}
          <li id="{{ pub.id }}">
            <details>
              <summary>{{ meta(pub) }}</summary>
              <div class="ind mt0">{{ pub.abstract }}</div>
            </details>
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
{% endmacro %}

{% macro meta(pub) %}
  <span>
    {% for author in pub.author %}
      <span
        >{{ author.first | join(" ") }}
        {{ author.last | join(" ") }}</span
      >
      {{- ", " if loop.revindex0 > 1 else " and " if loop.revindex0 == 1 -}}
    {% endfor %}.
  </span>
  {% if pub.title %}
    <span class="title">{{ pub.title }}</span>.
  {% endif %}
  {% if pub.kind == "article" and pub.journal %}
    <span class="book">{{ pub.journal }}</span>
  {% endif %}
  {% if pub.kind == "inproceedings" and pub.booktitle %}
    <span class="book">{{ pub.booktitle }}</span>
  {% endif %}
  {% if pub.volume -%}
    <span>{{ pub.volume }}</span>
  {%- endif -%}
  {%- if pub.issue -%}
    .<span>{{ pub.issue }}</span>
  {%- endif -%}
  {%- if pub.number -%}
    , <span>{{ pub.number }}</span>
  {%- endif %}
  {% if pub.kind == "phdthesis" %}
    <span>PhD thesis</span>
  {% endif %}
  {% if pub.year %}
    (<span>{{ pub.month | fmonth if pub.month }} {{ pub.year }}</span>).
  {% endif %}
  {% if pub.doi %}
    <a href="https://doi.org/{{ pub.doi }}">doi</a>.
  {% endif %}
  {% if pub.url %}
    <a href="{{ pub.url }}">url</a>.
  {% endif %}
  {% if pub.archiveprefix and pub.eprint and pub.primaryclass %}
    <a href="{{ pub.archiveprefix | archiveurl }}{{ pub.eprint }}"
      >{{ pub.archiveprefix }}.{{ pub.primaryclass }}</a
    >.
  {% endif %}
  {% if pub.inspirehep %}
    <a href="https://inspirehep.net/literature/{{ pub.inspirehep }}">inspire</a
    >.
  {% endif %}
  {% for repo in [pub.ancillary, pub.coderepo] %}
    {% if repo %}
      <a href="{{ repo }}">{{ repo | repoprefix }}</a>.
    {% endif %}
  {% endfor %}
{% endmacro %}
