{% from "flag.html.jinja" import flag %}

{% macro talks_from(pres, institution) %}
  {{ pres_from(pres | selectattr("kind", "equalto", "talk"), institution, "Talks") }}
{% endmacro %}

{% macro posters_from(pres, institution) %}
  {{ pres_from(pres | selectattr("kind", "equalto", "poster"), institution, "Posters") }}
{% endmacro %}

{% macro pres_from(pres, institution, title) %}
  {% set items = pres | selectattr("institution", "equalto", institution) %}
  {% if items %}
    <details>
      <summary class="h4">{{ title }}</summary>

      <ul class="col1 mt0">
        {% for item in items | sort(reverse=True, attribute="year,month,day") %}
          <li id="{{ item.id }}">
            {% if item.abstract %}
              <details>
                <summary>{{ meta(item) }}</summary>
                <div class="ind mt0">{{ item.abstract }}</div>
              </details>
            {% else %}
              {{ meta(item) }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
{% endmacro %}

{% macro meta(item) %}
  {% if item.title %}
    <span class="title">{{ item.title }}</span>.
  {% endif %}
  {% if item.event %}
    <span class="book">{{ item.event }}</span>
  {% endif %}
  (<time datetime="{{ item.date }}"
    >{{ item.month | fmonth }}
    {{ item.year }}</time
  >).
  {% if item.city or item.country or item.virtual %}
    <span>
      {% if item.city %}
        {{ item.city }},
      {% endif %}
      {% if item.country %}
        <span class="iflag">
          {{ item.country }}
          {{ flag(item.country | flagcode) }}
        </span>
      {%- endif %}
      {% if item.virtual %}
        [<abbr title="Virtual">V</abbr>]
      {%- endif %}</span
    >.
  {% endif %}
  {% if item.indico %}
    <a href="{{ item.indico }}">indico</a>.
  {% endif %}
  {% if item.zenodo %}
    <a href="{{ item.zenodo }}">zenodo</a>.
  {% endif %}
  {% if item.gitlab %}
    <a href="{{ item.gitlab }}">gitlab</a>.
  {% endif %}
  {% if item.bitbucket %}
    <a href="{{ item.bitbucket }}">bitbucket</a>.
  {% endif %}
  {% if item.video %}
    <a href="{{ item.video }}">video</a>.
  {% endif %}
  {% if item.proceeding %}
    <a href="#{{ item.proceeding }}">proc</a>.
  {% endif %}
  {% if item.poster %}
    <a href="{{ item.poster }}">poster</a>.
  {% endif %}
  {% if item.slides %}
    <a href="{{ item.slides }}">slides</a>.
  {% endif %}
{% endmacro %}
