{% macro prizes_from(all_prizes, institution) %}
  {% set prizes = all_prizes | selectattr("institution", "equalto", institution) %}
  {% if prizes %}
    <details>
      <summary class="h4">Prizes</summary>

      <div class="g0 mt0">
        {% for year, year_prizes in prizes | groupby("year") | reverse %}
          <div>{{ year }}</div>
          <div class="col0">
            {% for prize in year_prizes | sort(attribute="kind,title") %}
              <div>
                <div class="title">{{ prize.title }}</div>
                <div class="ind">{{ prize.desc }}</div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </details>
  {% endif %}
{% endmacro %}
