{% macro summer_projects(sps) %}
  <details>
    <summary class="h4">Summer research projects</summary>
    <ul class="col1 mt0">
      {% for sp in sps | sort(attribute="year") | reverse %}
        <li class="col0">
          <div class="row">
            <span class="title">{{ sp.title }}</span>
            <span>{{ sp.year }}</span>
          </div>
          <div class="dbl ind">
            <span> Supervisor:</span
            ><span>{{ sp.supervisor }}, {{ sp.location }}</span>
            <span>Funding:</span>
            {% for f in sp.funding %}
              <span {% if not loop.first %}class="skip"{% endif %}
                >{{ f }}</span
              >
            {% endfor %}
            <span class="span">
              {% if sp.report %}
                <a href="{{ sp.report }}">report</a>.
              {% endif %}
              {% if sp.talk %}
                <a href="#{{ sp.talk }}">talk</a>.
              {% endif %}
              {% if sp.poster %}
                <a href="#{{ sp.poster }}">poster</a>.
              {% endif %}
              {% if sp.code %}
                <a href="{{ sp.code }}">code</a>.
              {% endif %}
              {% if sp.paper %}
                <a href="#{{ sp.paper }}">paper</a>.
              {% endif %}
            </span>
          </div>
          <div class="ind">{{ sp.blurb }}</div>
        </li>
      {% endfor %}
    </ul>
  </details>
{% endmacro %}
